

@font-face
{
    font-family: 'OpenSansLight';
    src: local('OpenSansLight'),url('OpenSansLight.otf') format('opentype');
}

@font-face
{
    font-family: 'OpenSansBold';
    src: local('OpenSansBold'),url('OpenSansBold.otf') format('opentype');
}

@font-face
{
    font-family: 'OpenSansSemiBold';
    src: local('OpenSansSemiBold'),url('OpenSansSemiBold.otf') format('opentype');
}

@font-face
{
    font-family: 'OpenSansRegular';
    src: local('OpenSansRegular'),url('OpenSansRegular.otf') format('opentype');
}


h1
{
    font-family: 'OpenSansSemiBold';
}

h2
{
    font-family: 'OpenSansSemiBold';
}

h3
{
    font-family: 'OpenSansSemiBold';
}

p
{
    font-family: 'OpenSansSemiBold';
}

/*p*/
/*{*/
/*    font-family: 'OpenSansLight';*/
/*    font-size: 24px;*/
/*    font-weight: normal;*/
/*}*/

.mapp-btn
{
    font-family: 'OpenSansSemiBold' !important;
}

